<div class="container">
   
  <div class="row">
    <div class="col">
         <h2>Hello, {{user.name}}!</h2>
    <div class="col">
      <h3>Create a new Blog Post: </h3>
      <form class="new-post-form">
        <label for="post-title">Post title: </label>
        <input class="form-input" type="text" id="post-title" name="post-title"/>
        <label for="post-content">Content: </label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
        <button type="submit" class="btn">Create Post</button>
      </form>
    </div>
    <div class="col post-list">
    {{#if user.posts.length}}
    <h3>Your Existing Blog Posts: </h3>
    {{#each user.posts as |post| }}
      <p>{{post.title}}</p>
      <p>{{post.content}}</p>
      <p>Posted on {{format_date post.date_created}}</p>
      {{#if user.comments.length}}
      <p>Posted on {{user.comments.content}}</p>
      {{/if}}
      <button class="btn" data-id="{{post.id}}">DELETE</button>
    {{/each}}
    {{/if}}
    </div>
    </div>
  </div>
</div>
<script src="/js/dashboard.js"></script>