<div class="container">
   
  <div class="row">
<p>Hello</p>
    <div class="col">
         <h2>{{user.name}}</h2>
    {{#if user.posts.length}}
    {{#each user.posts as |post| }}
      <p>{{post.title}}</p>
      <p>{{post.content}}</p>
      <p>Posted on {{format_date post.date_created}}</p>
      {{#if user.comments.length}}
      <p>Posted on {{user.comments.content}}</p>
      {{/if}}
    {{/each}}
    {{/if}}
    </div>
  </div>
</div>