<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-body posts">
                <h2>{{post.title}}</h2>
                <h5>{{post.content}}</h5>
                <h6>Written by: {{post.user.name}} on {{format_date post.date_created}}</h6>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
             <h4>Comments:</h4>
            {{!-- if we are logged in, we want the user to see a button to update their comments, otherwise, there should be no update buttons --}}
            {{#if post.comments.length}}
            {{#each post.comments as |comment|}}
            <div class="card comment-card">
                <h6>{{comment.user.name}}: {{comment.content}} </h6>
                <p>on {{format_date comment.date_created}}</p>
               
                {{!-- #if can only check if something is true or false, but to do conditional logic, need to use a
                helper function --}}
                {{#if ../logged_in}}
                {{#if (check_if_user_wrote_comment comment.user_id ../user_id)}}
                <button type="submit" class="btn  update-comment-btn" data-id="{{comment.id}}">Update Comment</button>
                <button type="submit" class="btn  delete-comment-btn" data-id="{{comment.id}}">Delete Comment</button>
                {{/if}}
                {{/if}}
            </div>
            {{/each}}
            {{/if}}

        </div>
        {{#if logged_in}}
        <div class="col">
            <div class="card add-comment-card">
                    <h3>Add a Comment: </h3>
                    <form class="new-comment-form" data-id="{{post.id}}">
                        <label for="comment-content">Your Comment: </label>
                        <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
                        <button type="submit" class="btn submit-comment-btn">Submit</button>
                    </form>
            </div>
        </div>
        {{else}}
        <div class="col">
            <div class="card-body">
                <h5>To add a comment, log in!</h5>
            </div>
        </div>
        {{/if}}
    </div>
</div>
{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}